	<!-- type-one start -->
	<section class="type-one">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-12">
					<h2 class="type-one-header"><a href="#">DIY</a></h2>
				</div>

				<div class="col-md-7">
					<div class="type-one-first">
						<a href="#" title="Как создать красивое освещение в виде шариков в своем доме">
							<img src="img/blog/diy/1.jpg" alt="Как создать красивое освещение в виде шариков в своем доме" class="img-responsive img-width">
						</a>
						<div class="item-social">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
								<span class="date">06/05/2018</span>
							</div>
						</div>
						<h3><a href="#">Как создать красивое освещение в виде шариков в своем доме</a></h3>
					</div>
				</div>

				<div class="col-md-5 item-title-white">
					<div class="pattern">
						<div class="overlay item-title" style="background-image: url(img/blog/diy/2.jpg)">
							<div class="item-title-content">
								<h3><a href="#">Красная аутентичная буква а на стол своими руками</a></h3>
								<div class="item-social">
									<div class="item-comments" title="Количество комментариев">
										<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
										<span class="date">06/05/2018</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="pattern">
						<div class="overlay item-title" style="background-image: url(img/blog/diy/3.jpg)">
							<div class="item-title-content">
								<h3><a href="#">Самодельные деревянные винты увеличенной площади для квадрокоптера</a></h3>
								<div class="item-social">
									<div class="item-comments" title="Количество комментариев">
										<i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">26</a>
										<span class="date">06/05/2018</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- type-one end -->