				<!-- third item start-->
				<div class="col-md-4">
					<div class="pattern">
						<div class="overlay item-title" style="background-image: url(img/blog/electronics/3.jpg)">
							<div class="item-title-content">

								<h3>
									<a href="#">На стол знаменитой московской студии поставили 2 новых девайса</a>
								</h3>

								<div class="item-social">
									<div class="item-comments" title="Количество комментариев">
										<i class="fa fa-comments"></i>
										<a href="#disqus_thread" class="item-comments-count">26</a>
									</div>
									<i class="fa fa-share-alt" title="Поделиться в соц. сетях"></i>
									<div class="likely likely-custom" data-url="path" data-media="img/blog/electronics/3.jpg" title="На стол знаменитой московской студии поставили 2 новых девайса">
										<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
										<div class="facebook" title="Поделиться в Facebook">Facebook</div>
										<div class="twitter" title="Поделиться в Twitter">Twitter</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- third item end-->