	<!-- Fourth-section start -->
	<section class="fourth-section">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-12">
					<h2 class="fourth-section-header">
						<a href="#">Лайфхаки</a>
					</h2>
				</div>

				<div class="col-md-8 col-sm-6">
					<div class="row no-gutters">

						<!-- 1 start-->
						<div class="col-md-6">
							<div class="pattern">
								<div class="overlay item-title" style="background-image: url(img/blog/lifehacks/14.jpg)">
									<div class="item-title-content">
										<h3><a href="#">Как сфотографировать себя на телефон с зеркалкой</a></h3>
										<div class="item-social">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a href="#disqus_thread" class="item-comments-count">26</a>
												<span class="date">06/04/2018</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 1 end-->
						<!-- 2 start-->
						<div class="col-md-6">
							<div class="pattern">
								<div class="overlay item-title" style="background-image: url(img/blog/lifehacks/15.jpg)">
									<div class="item-title-content">
										<h3><a href="#">Упрощаем жизнь наушникам, вешаем их на мониторы</a></h3>
										<div class="item-social">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a href="#disqus_thread" class="item-comments-count">26</a>
												<span class="date">06/04/2018</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 2 end -->
						<!-- 3 start -->
						<div class="col-md-6">
							<div class="pattern">
								<div class="overlay item-title" style="background-image: url(img/blog/lifehacks/16.jpg)">
									<div class="item-title-content">
										<h3><a href="#">Как разложить фотоаппараты на столе и не запутаться</a></h3>
										<div class="item-social">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a href="#disqus_thread" class="item-comments-count">26</a>
												<span class="date">06/04/2018</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 3 end -->
						<!-- 4 start -->
						<div class="col-md-6">
							<div class="pattern">
								<div class="overlay item-title" style="background-image: url(img/blog/lifehacks/17.jpg)">
									<div class="item-title-content">
										<h3><a href="#">Правильное подключение проводов к магнитофону</a></h3>
										<div class="item-social">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a href="#disqus_thread" class="item-comments-count">26</a>
												<span class="date">06/04/2018</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 4 end -->

					</div>
				</div>

				<div class="col-md-4 col-sm-6 ">
					<div class="aside-box">
						<img src="img/ad-vertical.jpg" alt="Alt" class="img-responsive">
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Fourth-section end -->